.page {
    margin: 0 auto;
    max-width: 800px;
    padding: 128px 20px;
    text-align: left;
}

.me {
    margin: auto;
    display: flex;
    justify-content: center;
    /* border-radius: 50%; */
}

.me img {
    border-radius: 50%;
}
