<div class="page">
    <div class="me">
        <img
            [ngSrc]="me"
            alt=""
            [width]="500"
            [height]="500"
            class="responsive-image"
            priority="true"
        />
    </div>
    <div class="content">
        <h1>{{ title }}</h1>
        <p>Hello, how are you?</p>
        <p>
            My projects are hosted here, and will be listed below once made public. Or whenever my
            portfolio is done, whichever comes first.
        </p>
        <p>
            I'm a software engineer with a passion for building products that help people live
            better lives.
        </p>
        <p>
            I own a small software company called
            <a href="https://www.avernix.com">Avernix Technologies</a>
            <img [ngSrc]="avernix" alt="" height="14" width="14" />.
        </p>
        <p>Thank you for visiting!</p>
    </div>
</div>
